<div class="devise forgot-password">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "SEND ME PASSWORD RESET INSTRUCTIONS", :class => "password-reset" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
