<div id="drafts" class="col">
  <h1>Drafts <%= link_to 'New Draft', '/new', :class => 'button' %></h1>
  <%= form_for @post do |f| %>
    <%= f.text_field :title, :placeholder => 'Start typing your title here...' %>
  <% end %>
  <ul>
  <%= render :partial => 'li', :collection => @drafts %>
  </ul>
  <%= paginate @drafts, :param_name => "draft_page" %>
</div>

<div id="published" class="col">
  <h2>Published <%= link_to 'Edit User', '/users/edit', :class => 'button edit-user' %> <%= link_to 'Home', root_url, :class => 'button' %></h2>
  <ul>
    <%= render :partial => 'li', :collection => @published %>
  </ul>
  <%= paginate @published, :param_name => "post_page" %>
</div>