
/* TODO: pull out coloring into variables */
$linkhover: red;

div:before, div:after {content:''; display:table;}

aside {position:relative; display:block;}
ul {list-style-type:none;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}

body {
  background: #fff;
  color: #222;
}

body, textarea, pre, input {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

h1,h2,h3,h4,h5,#text-title pre {
  font-weight: 900;
  word-wrap: break-word;
  line-height: 1.3em;
}

h1,
#text-title pre,
#text-title textarea {
  font-weight: 900;
  font-size: 35px;
}

p {
  color: #555;
}

a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a:hover,
#admin #published h3 a:hover {
  color: $linkhover;
}

header {
  width: 162px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px 40px;

  span {
    color: #888;
    font-weight: 500;
  }

  div.powered-by {
    position: absolute;
    bottom: 30px;

    p.logged-in-user {
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }

    a.user-action-button {
      font-size: 12px;
      display: inline-block;
      background: #000;
      padding: 8px 12px;
      font-weight: bold;
      border: none;
      color: #fff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;

      &.sign-in, &.admin {
        background: #999;
        margin-left: 10px;
      }

      &:hover {
        background: red;
      }
    }

  }

  ul {
    padding: 0;
    margin: 50px 0;
  }

  li {
    margin: 0 0 3px 0;

    a {
      padding: 2px 0;
      color: #888;
      border-bottom: 2px solid #eee;

      &:hover {
        border-color: #777;
        color: #444;
      }
    }
  }
}

#container {
  margin-left: 243px;
  position: relative;

  time {
    display: block;
    padding: 20px 0 20px 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
  }

  .user-filter, .tag-filter {
    padding: 10px 50px 32px;
    border-bottom: 1px solid #ddd;

    p {
      font-size: 36px;
      font-style: italic;
      color: #999;
      margin: 0.5em 0 0;
    }
  }
  
}

#content {
  section {
    padding: 26px 0 40px 50px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  h1.external {
    margin-top: 25px;
    font-size: 18px;

    .permalink {
      margin-left: 8px;
      font-size: 19px;
      color: #999;
      border: none;
    }
  }
}

.show #content section {
  border-bottom: none;
}

code {
	font-size: 13px;
	background: #F2F2F2;
	padding: 20px;
	margin: 20px;
	display: block;
}

.contain {
  width: 600px;
  position: relative;
}

.contain img {
  max-width: 100%;
  height: auto;
}

#publish-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #222;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 15px 0 15px;

  .contain {
    margin: 0 auto;
    width: 600px;
  }

  input[type=text] {
    border: none;
    border-bottom: 1px solid #333;
    padding: 2px;
    width: 220px;
    font-size: 12px;
    color: #999;
  }

  .menu.active {
    background: #fff;
    color: #000;
  }

  .sub-menu {
    margin: 0;
    background: #222;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 60px;
    visibility: hidden;
            border-radius: 5px;
       -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    &.visible {
      visibility: visible;
    }
  }

    .sub-menu li {
      margin: 0 0 15px 0;
    }
}

#publish-bar input[type=submit],
#publish-bar a,
.button {
  display: inline-block;
  background: #000;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  color: #fff;
          border-radius: 5px;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.button.secondary {
  padding: 0 5px;
  background: #aaa;
  font-size: 12px;
}

#publish-bar input[type=submit]:hover,
#publish-bar a:hover,
.col h1 a:hover,
.col h2 a:hover,
.button:hover,
.button.secondary:hover {
  background: $linkhover;
  color: #fff;
}

.button.space-top {
  margin-top: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 0;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0;

  li {float: left; margin-left: 6px;}
  a {float: left;}
}

.notice {
  position: absolute;
  top: 0;
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

.alert {
  position: absolute;
  top: 0;
  background: #fcc;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

body.posts.edit #admin,
body.posts.new #admin {
  width: 100%;
}

#admin {
  width: 808px;
  margin: 0 auto;
  position: relative;

  #save-button.saved {
    color: #999;

    &:hover {
      cursor: normal;
    }
  }

  #drafts {
    float: left;
    border: 4px solid #000;
    border-top: none;
    background: #fff;
    margin: 0 0 20px 0;
    padding-top: 10px;

    form {
       margin: 20px 0 20px -20px;
       padding: 0 0 0 20px;
       border-left: 4px solid lightblue;
     }

    #post_title {
      width: 350px;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      border-bottom: 1px solid #ddd;
    }
  }

  #published {
    float: right;

    h2 {color: #999;}
    h2 a {margin-top: -2px;}
    h3 a {color: #999;}
  }

  .col h1,
  .col h2 {
    position: relative;
    text-transform: uppercase;
  }

  .col h1 a,
  .col h2 a {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 2px 10px;
    line-height: 2.7em;
    margin: 5px 0 0;

    &.edit-user {
      right: 70px;
    }
  }

  .col {
    width: 360px;
    padding: 20px;

    h2 a {
      background: #999;

      &:hover {
        background: $linkhover;
      }
    }

    ul {
      padding: 0;

      li {
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
        position: relative;

        &:hover .links {
          visibility: visible;
        }

        .links {
          position: absolute;
          right: 0;
          top: 14px;
          background: #fff;
          padding: 1px 8px;
          visibility: hidden;

          a {
            color: #999;
                    border-radius: 5px;
               -moz-border-radius: 5px;
            -webkit-border-radius: 5px;

            &:hover {
              color: $linkhover;
            }
          }
        }

        h3 {
          margin: 0;
          font-size: 16px;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;

          a {
            border: none;
          }
        }
      }
    }
  }

  textarea,pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }

  .expandingArea {
    position: relative;
  }

  .expandingArea > textarea,
  .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }

  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }

  .expandingArea > pre {
    display: none;
  }

  .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

#text-tags {
  input {
    position: relative;
    border: none;
    border-bottom: 1px solid #999;
    margin: 0 4px 10px;
    padding: 3px 5px;
    color: #222;
  }

  #tags-label {
    font-size: 13px;
    color: #555;
  }
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.markdown:before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
  background: url(/assets/markdown.png) no-repeat top left;
}

#text-title {
  margin: 23px 0;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#post_byline {
  position: relative;
  top: -18px;
  font-size: 14px;
  font-style: italic;

  a {
    color: #222;

    &:hover {
      color: red;
    }
  }
}

#post_tags {
  position: relative;
  top: -15px;
}

#post_tags span a, #tag-navigation span a {
  font-size: 10px;
  line-height: 2em;
  display: inline-block;
  background: #999;
  padding: 0px 6px;
  border: none;
  font-weight: bold;
  color: #fff;
  margin: 0 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &:hover {
    background: red;
  }
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0;
}

form .permalink {
 position: absolute;
 left: -34px;
 top: 12px;
 border: none;
 color: #ddd;
}

#split {
  #post-preview {
    display: none;
  }

  #post-editor {
    margin-left: -25%;
    left: 50%;
    width: 600px;
  }
}

#split.preview {
  #post-preview {display: block;}
  #post-editor {
    left: 0;
    margin: 0;
    width: 50%;
  }
}

.split-section {
  width: 50%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 20px 100px;
  height: 100%;
  overflow: scroll;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#post-preview {
  background: #f0f4fc;
  border-left: 1px solid #dbe3f1;
  right: 0;
  left: auto;
}

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  font-weight: 900;
  text-transform: uppercase;
}

nav.pagination {
  text-align: right;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

  nav.pagination a {
    margin-left: 10px;
  }