
.devise {
  padding: 50px;

  h1 {
    margin-top: 0;
  }

  label {
    color: #222;
    font-weight: normal;
  }

  .actions {
    position: static;
    margin-top: 10px;

    input, a {
      font-size: 12px;
      display: inline-block;
      background: #000;
      padding: 8px 12px;
      font-weight: bold;
      border: none;
      color: #fff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;

      &.back-button {
        background: #999;
        margin-left: 10px;
        line-height: 1.8em;
      }

      &:hover {
        background: red;
      }

      &.password-reset {
        font-size: 11px;
      }
    }
  }
}