<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
</head>

<body class="admin <%= controller_name %> <%= action_name %>">
  <div id="admin">
  	<div id="save"></div>
    <% if notice %><span class="notice"><%= notice %></span><% end %>
    <% if alert %><span class="alert"><%= alert %></span><% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>