<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% unless @no_header %>
  <header>
    <h1><%= link_to CONFIG['title'], root_url %></h1>
    <span><%= CONFIG['tagline'].html_safe %></span>
    <ul>
      <% if CONFIG['twitter'] %>
        <li><%= link_to '@' + CONFIG['twitter'], 'http://twitter.com/' + CONFIG['twitter'] %></li>
      <% end %>
      <% if CONFIG['github'] %>
        <li><%= link_to 'github', 'https://github.com/' + CONFIG['github'] %></li>
      <% end %>
      <% if CONFIG['email'] %>
        <li><%= link_to 'say hi', "mailto:#{CONFIG['email']}?subject:whats up!" %></li>
      <% end %>
      <li><%= link_to 'rss feed', '/posts.rss' %></li>
    </ul>

    <div id="tag-navigation">
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <span><%= link_to tag.name.upcase, root_path(:tag => tag.name), :class => css_class %></span>
      <% end %>
    </div>

    <div class="powered-by">
      <% if user_signed_in? %>
        <p class="logged-in-user">Signed in as <%= current_user.full_name %></p>
        <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete, :class => "user-action-button", :id => "sign-out" %>
        <%= link_to "ADMIN", "/admin", :class => "user-action-button admin" %>
      <% else %>
        <%= link_to "SIGN UP", new_user_registration_path, :class => "user-action-button sign-up" %>
        <%= link_to "SIGN IN",  new_user_session_path, :class => "user-action-button sign-in" %>
      <% end %>

      <% if is_admin? %> &nbsp;&middot;&nbsp; <a href="/admin">Admin</a><% end %>
  </span>

  </header>
  <% end %>

  <div id="container">
    <% unless @no_header %>
      <time><% if @post && @post.created_at %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
          <% if @filter_user %><div class="user-filter"><p>Posts by <%= @filter_user.full_name %></p></div><% end %>
    <% if @tag %><div class="tag-filter"><p>Posts tagged with "<%= @tag %>"</p></div><% end %>
    <div id="content">
    <% end %>
    <% if notice %><span class="notice"><%= notice %></span><% end %>
    <% if alert %><span class="alert"><%= alert %></span><% end %>
    <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
